In [10]:
import glob

In [35]:
import openpyxl

In [36]:
import pandas as pd

In [37]:
export_file_path = 'C:\\Users\\Owner\\Desktop\\書き出しパス'

In [38]:
import_folder_path = 'C:\\Users\\Owner\\Desktop\\読み込みパス'

In [13]:
path = import_folder_path + '/' + '*.xlsx'

In [14]:
file_path = glob.glob(path)

In [15]:
file_path

['C:\\Users\\Owner\\Desktop\\読み込みパス\\data.xlsx',
 'C:\\Users\\Owner\\Desktop\\読み込みパス\\data01.xlsx',
 'C:\\Users\\Owner\\Desktop\\読み込みパス\\data02.xlsx',
 'C:\\Users\\Owner\\Desktop\\読み込みパス\\data03.xlsx',
 'C:\\Users\\Owner\\Desktop\\読み込みパス\\df_excel1.xlsx']

In [18]:
df_concat=pd.DataFrame()

for i in file_path:
        df_read_excel=pd.read_excel(i)
        print(df_read_excel.head(3))

   都道府県コード 都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
0        1   北海道  大正      9   1920  2359183  1244322  1114861
1        2   青森県  大正      9   1920   756454   381293   375161
2        3   岩手県  大正      9   1920   845540   421069   424471
  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1    都道府県コード      都道府県名         元号      和暦（年）      西暦（年）     人口（総数）
2          1        北海道         大正          9       1920    2359183

  Unnamed: 6 Unnamed: 7
0        NaN        NaN
1      人口（男）      人口（女）
2    1244322    1114861
   1  北海道  大正  9  1920  2359183  1244322  1114861
0  2  青森県  大正  9  1920   756454   381293   375161
1  3  岩手県  大正  9  1920   845540   421069   424471
2  4  宮城県  大正  9  1920   961768   485309   476459
         地域       羽田        羽田.1       成田        成田.1       千歳        千歳.1
0       年月日  平均気温(℃)  降水量の合計(mm)  平均気温(℃)  降水量の合計(mm)  平均気温(℃)  降水量の合計(mm)
1  2019/1/1      6.8           0        2           0     -4.7           0
2  2019/1/2      7.3           0      3.9           0     -6.9           0
         年月日  平均気温(℃)  降水量の合計(mm)  平均気温(℃).1  降水量の合計(mm).1  平均気温(℃).2  \
0 2019-01-01      6.8         0.0        2.0           0.0       -4.7
1 2019-01-02      7.3         0.0        3.9           0.0       -6.9
2 2019-01-03      6.1         0.0        2.3           0.0       -7.4

   降水量の合計(mm).2
0           0.0
1           0.0
2           0.0

In [22]:
df_concat=pd.DataFrame()

for i in file_path:
    df_read_excel=pd.read_excel(i)
    df_concat=pd.concat([df_read_excel,df_concat])

In [23]:
df_concat

,年月日,平均気温(℃),降水量の合計(mm),平均気温(℃).1,降水量の合計(mm).1,平均気温(℃).2,降水量の合計(mm).2,地域,羽田,羽田.1,...,Unnamed: 6,Unnamed: 7,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,人口（総数）,人口（男）,人口（女）
0,2019-01-01,6.8,0.0,2.0,0.0,-4.7,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-02,7.3,0.0,3.9,0.0,-6.9,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-03,6.1,0.0,2.3,0.0,-7.4,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-04,6.5,0.0,2.2,0.0,-2.6,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-05,8.3,0.0,6.2,0.0,-3.3,4.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,43.0,熊本県,平成,27.0,2015.0,1786170.0,841046.0,945124.0
935,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,44.0,大分県,平成,27.0,2015.0,1166338.0,551932.0,614406.0
936,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.0,宮崎県,平成,27.0,2015.0,1104069.0,519242.0,584827.0
937,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,46.0,鹿児島県,平成,27.0,2015.0,1648177.0,773061.0,875116.0
938,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,47.0,沖縄県,平成,27.0,2015.0,1433566.0,704619.0,728947.0

In [29]:
df_drop = df_concat.drop('Unnamed: 6',axis = 1)

In [30]:
df_drop.head(3)

,年月日,平均気温(℃),降水量の合計(mm),平均気温(℃).1,降水量の合計(mm).1,平均気温(℃).2,降水量の合計(mm).2,地域,羽田,羽田.1,...,Unnamed: 5,Unnamed: 7,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,人口（総数）,人口（男）,人口（女）
0,2019-01-01,6.8,0.0,2.0,0.0,-4.7,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-02,7.3,0.0,3.9,0.0,-6.9,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-03,6.1,0.0,2.3,0.0,-7.4,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_sort = df_drop.sort_values(by='平均気温(℃)', ascending=False)

In [32]:
df_sort

,年月日,平均気温(℃),降水量の合計(mm),平均気温(℃).1,降水量の合計(mm).1,平均気温(℃).2,降水量の合計(mm).2,地域,羽田,羽田.1,...,Unnamed: 5,Unnamed: 7,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,人口（総数）,人口（男）,人口（女）
228,2019-08-17,30.3,0.0,29.5,0.0,24.6,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,2019-08-17,30.3,0.0,29.5,0.0,24.6,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,2019-08-01,30.3,0.0,28.6,0.0,25.3,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,2019-08-01,30.3,0.0,28.6,0.0,25.3,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,2019-08-06,30.0,0.0,29.0,0.0,24.7,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,43.0,熊本県,平成,27.0,2015.0,1786170.0,841046.0,945124.0
935,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,44.0,大分県,平成,27.0,2015.0,1166338.0,551932.0,614406.0
936,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,45.0,宮崎県,平成,27.0,2015.0,1104069.0,519242.0,584827.0
937,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,46.0,鹿児島県,平成,27.0,2015.0,1648177.0,773061.0,875116.0
938,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,47.0,沖縄県,平成,27.0,2015.0,1433566.0,704619.0,728947.0

In [33]:
df_sort.to_excel(export_file_path +'/'+'予実管理.xlsx')

In [40]:
workbook = openpyxl.load_workbook(export_file_path +'/'+'予実管理.xlsx')
worksheet = workbook.worksheets[0]
worksheet.delete_cols(1)
workbook.save(export_file_path +'/'+'予実管理1.xlsx')