In [1]:
import pandas as pd

In [8]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',5)

In [12]:
df = pd.read_csv('data.csv',encoding='shift-jis')
df

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
1          2   青森県  大正    9.0  1920.0   756454   381293   375161
..       ...   ...  ..    ...     ...      ...      ...      ...
937       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
938       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [13]:
df.index = df.index + 1

In [14]:
df

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
1          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
2          2   青森県  大正    9.0  1920.0   756454   381293   375161
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [15]:
df[0:3]

   都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
1        1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
2        2   青森県  大正    9.0  1920.0   756454   381293   375161
3        3   岩手県  大正    9.0  1920.0   845540   421069   424471

In [16]:
df[:3]

   都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
1        1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
2        2   青森県  大正    9.0  1920.0   756454   381293   375161
3        3   岩手県  大正    9.0  1920.0   845540   421069   424471

In [17]:
df[9:14]

    都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
10       10   群馬県  大正    9.0  1920.0  1052610   514106   538504
11       11   埼玉県  大正    9.0  1920.0  1319533   641161   678372
12       12   千葉県  大正    9.0  1920.0  1336155   656968   679187
13       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
14       14  神奈川県  大正    9.0  1920.0  1323390   689751   633639

In [18]:
df[100:105]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）   人口（男）   人口（女）
101        7   福島県  昭和    5.0  1930.0  1508150  742342  765808
102        8   茨城県  昭和    5.0  1930.0  1487097  734059  753038
103        9   栃木県  昭和    5.0  1930.0  1141737  562839  578898
104       10   群馬県  昭和    5.0  1930.0  1186080  581007  605073
105       11   埼玉県  昭和    5.0  1930.0  1459172  718779  740393

In [22]:
df['人口（総数）'][:5]

1    2359183
2     756454
3     845540
4     961768
5     898537
Name: 人口（総数）, dtype: int64

In [23]:
df[['人口（総数）']][:5]

    人口（総数）
1  2359183
2   756454
3   845540
4   961768
5   898537

In [24]:
df[['都道府県名','人口（総数）']][:5]

  都道府県名   人口（総数）
1   北海道  2359183
2   青森県   756454
3   岩手県   845540
4   宮城県   961768
5   秋田県   898537

In [25]:
df['西暦（年）'] == 2015

1      False
2      False
       ...
938     True
939     True
Name: 西暦（年）, Length: 939, dtype: bool

In [28]:
df[df['西暦（年）'] == 2015]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
893        1   北海道  平成   27.0  2015.0  5381733  2537089  2844644
894        2   青森県  平成   27.0  2015.0  1308265   614694   693571
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[47 rows x 8 columns]

In [29]:
df[df['都道府県名'] == '東京都']

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    人口（総数）    人口（男）    人口（女）
13        13   東京都  大正    9.0  1920.0   3699428  1952989  1746439
60        13   東京都  大正   14.0  1925.0   4485144  2387609  2097535
..       ...   ...  ..    ...     ...       ...      ...      ...
858       13   東京都  平成   22.0  2010.0  13159388  6512110  6647278
905       13   東京都  平成   27.0  2015.0  13515271  6666690  6848581

[20 rows x 8 columns]

In [30]:
df['西暦（年）'] % 10 == 0

1       True
2       True
       ...
938    False
939    False
Name: 西暦（年）, Length: 939, dtype: bool

In [31]:
df[~(df['西暦（年）'] % 10 == 0)]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
48         1   北海道  大正   14.0  1925.0  2498679  1305473  1193206
49         2   青森県  大正   14.0  1925.0   812977   408770   404207
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[469 rows x 8 columns]

In [32]:
df[(df['西暦（年）'] % 10 != 0)]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
48         1   北海道  大正   14.0  1925.0  2498679  1305473  1193206
49         2   青森県  大正   14.0  1925.0   812977   408770   404207
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[469 rows x 8 columns]

In [42]:
df[(df['西暦（年）'] == 2015) & (df['都道府県名'] == '東京都')]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    人口（総数）    人口（男）    人口（女）
905       13   東京都  平成   27.0  2015.0  13515271  6666690  6848581

In [44]:
df[(df['西暦（年）'] == 2010) | (df['西暦（年）'] == 2015)]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
846        1   北海道  平成   22.0  2010.0  5506419  2603345  2903074
847        2   青森県  平成   22.0  2010.0  1373339   646141   727198
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[94 rows x 8 columns]

In [46]:
df = df.rename(columns={'西暦（年）':'year'})
df

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）    人口（男）    人口（女）
1          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
2          2   青森県  大正    9.0  1920.0   756454   381293   375161
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [47]:
df.query('year == 2010')

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）    人口（男）    人口（女）
846        1   北海道  平成   22.0  2010.0  5506419  2603345  2903074
847        2   青森県  平成   22.0  2010.0  1373339   646141   727198
..       ...   ...  ..    ...     ...      ...      ...      ...
891       46  鹿児島県  平成   22.0  2010.0  1706242   796896   909346
892       47   沖縄県  平成   22.0  2010.0  1392818   683328   709490

[47 rows x 8 columns]

In [48]:
df.query('year > 2010')

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）    人口（男）    人口（女）
893        1   北海道  平成   27.0  2015.0  5381733  2537089  2844644
894        2   青森県  平成   27.0  2015.0  1308265   614694   693571
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[47 rows x 8 columns]

In [49]:
df.query('都道府県名 == "東京都"')

     都道府県コード 都道府県名  元号  和暦（年）    year    人口（総数）    人口（男）    人口（女）
13        13   東京都  大正    9.0  1920.0   3699428  1952989  1746439
60        13   東京都  大正   14.0  1925.0   4485144  2387609  2097535
..       ...   ...  ..    ...     ...       ...      ...      ...
858       13   東京都  平成   22.0  2010.0  13159388  6512110  6647278
905       13   東京都  平成   27.0  2015.0  13515271  6666690  6848581

[20 rows x 8 columns]

In [50]:
df.query('year == 2010 or year == 2015')

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）    人口（男）    人口（女）
846        1   北海道  平成   22.0  2010.0  5506419  2603345  2903074
847        2   青森県  平成   22.0  2010.0  1373339   646141   727198
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[94 rows x 8 columns]

In [53]:
df.query('都道府県名 == "東京都" and year == 2015')

     都道府県コード 都道府県名  元号  和暦（年）    year    人口（総数）    人口（男）    人口（女）
905       13   東京都  平成   27.0  2015.0  13515271  6666690  6848581

In [54]:
df['year'].isin([2010])

1      False
2      False
       ...
938    False
939    False
Name: year, Length: 939, dtype: bool

In [55]:
df[df['year'].isin([2010])]

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）    人口（男）    人口（女）
846        1   北海道  平成   22.0  2010.0  5506419  2603345  2903074
847        2   青森県  平成   22.0  2010.0  1373339   646141   727198
..       ...   ...  ..    ...     ...      ...      ...      ...
891       46  鹿児島県  平成   22.0  2010.0  1706242   796896   909346
892       47   沖縄県  平成   22.0  2010.0  1392818   683328   709490

[47 rows x 8 columns]

In [56]:
df[df['year'].isin([2010,2015])]

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）    人口（男）    人口（女）
846        1   北海道  平成   22.0  2010.0  5506419  2603345  2903074
847        2   青森県  平成   22.0  2010.0  1373339   646141   727198
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[94 rows x 8 columns]

In [57]:
df['都道府県名'].str.contains('山')

1      False
2      False
       ...
938    False
939    False
Name: 都道府県名, Length: 939, dtype: bool

In [58]:
df[df['都道府県名'].str.contains('山')]

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）   人口（男）   人口（女）
6          6   山形県  大正    9.0  1920.0   968925  478328  490597
16        16   富山県  大正    9.0  1920.0   724276  354775  369501
..       ...   ...  ..    ...     ...      ...     ...     ...
925       33   岡山県  平成   27.0  2015.0  1921525  922226  999299
927       35   山口県  平成   27.0  2015.0  1404729  665008  739721

[120 rows x 8 columns]

In [59]:
df[df['都道府県名'].str.startswith('大')]

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）    人口（男）    人口（女）
27        27   大阪府  大正    9.0  1920.0  2587847  1344846  1243001
44        44   大分県  大正    9.0  1920.0   860282   422708   437574
..       ...   ...  ..    ...     ...      ...      ...      ...
919       27   大阪府  平成   27.0  2015.0  8839469  4256049  4583420
936       44   大分県  平成   27.0  2015.0  1166338   551932   614406

[40 rows x 8 columns]

In [61]:
df[df['year'] == df['year'].max()]

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）    人口（男）    人口（女）
893        1   北海道  平成   27.0  2015.0  5381733  2537089  2844644
894        2   青森県  平成   27.0  2015.0  1308265   614694   693571
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[47 rows x 8 columns]

In [67]:
df.loc[895,['人口（男）','人口（女）']]

人口（男）    615584
人口（女）    664010
Name: 895, dtype: object